*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 .container{
}

.primo{
  margin-top: 30px;
  margin-left: 90px;
}


.secondo{
  margin-top: 30px;
  margin-left: 350px;
}

button{
 background-color: rgb(224, 97, 65);

}

 .row::after{
   content: "";
   display: "table";
   clear: both;
 }

 .col{
   float: left;
 }

 .col-50{
   width: 50%;
 }

 hr{
   color: red;
 }
  /*classi elementi senza contenuto*/
  .h-80{
    height: 80px;
  }

.row .col{

}

.col-big{
  height: 450px;
  width: 650px;
  margin-left: 90px;

}
.font{
  font-family: sans-serif;
 margin-top: 40px;
}

.titolo{
margin-top: 90px;
}

.button{
  margin-top: 25px;
}
.par{
  margin-top: 25px;
}

.cont{
height: 550px;
width: 100%;

}
/*seconda riga*/
.cont-1{
  height: 300px;
  width: 70%;

  margin-left: 150px;
}

.titolo-2{
  margin-top: 100px;
  margin-left: 280px;
}
.para{
  text-align: center;
  margin-top: 25px;
  margin-left: 150px;
}
/*terza riga*/

.cont-2{
  height: 300px;
  width: 65%;

  margin-left: 150px;
}

.line::after{
  content: "";
  display: table;
  clear: both;
}

.pilastro{
  float: left;
}

.col-little{
height: 300px;
width: 25%;

}

.big-col{
  height: 250px;
  width: 65%;

}

.titolo-3{
position: relative;
left: 25px;
top: 60px;
}

.para-2{
  position: relative;
  left: 25px;
  top: 80px;
}

.titoletto{
  position: relative;
  left: 25px;
  top: 90px;
}

/*tre colonne*/

 .clearfix::after{
   content: "";
   display: table;
   clear: both;
 }
.columns{
  float:left;

}

.col-1{

  height: 450px;
  width: 250px;
}

.pseudo-col-1{

  height:200px;
  width: 250px;
}
 .titolo-4{
   text-align: center;
 }

 .sezione{
   text-align: center;
   position: relative;
   top: 90px;
 }

.pseudo-col-2{


  height: 80px;
  width: 230px;
}

#hr{
  margin-top: 50px;
  margin-left: 10px;
}

.pseudo-col-3{

  height: 170px;
  width: 250px;
}

.titoletto-2{
  text-align: center;
  position: relative;
  top: 10px;

}

.first-list{

  position: relative;
  top: 25px;
  left: 25px;
}

.col-2{

  height: 450px;
  width: 250px;

}
.pseudo-col-4{

  height:200px;
  width: 250px;
}
 .titolo-4{
   text-align: center;
 }

 .sezione{
   text-align: center;
   position: relative;
   top: 90px;
 }

.pseudo-col-2{

  height: 80px;
  width: 230px;
}

#hr{
  margin-top: 50px;
  margin-left: 10px;
}

.pseudo-col-3{

  height: 170px;
  width: 250px;
}

.titoletto-2{
  text-align: center;
  position: relative;
  top: 10px;

}

.first-list{

  position: relative;
  top: 25px;
  left: 25px;
}









.col-3{

  height: 450px;
  width:250px;
}

.pseudo-col-4{

  height:200px;
  width: 250px;
}

.titolo-4{
  text-align: center;
}

.sezione{
  text-align: center;
  position: relative;
  top: 90px;
}

.pseudo-col-2{

 height: 80px;
 width: 230px;
}

#hr{
 margin-top: 50px;
 margin-left: 10px;
}

.pseudo-col-3{

  height: 170px;
  width: 250px;
}

.titoletto-2{
  text-align: center;
  position: relative;
  top: 10px;

}

.first-list{

  position: relative;
  top: 25px;
  left: 25px;
}

/*tabella*/

 .conte{
   height: 500px;
   width: 100%;

   background-color: rgb(22, 202, 247)
 }
 .tlt{

height: 90px;
width: 1000px;
position: relative;
left: 200px;


 }
.titolone{
  text-align: center;
  color: white;
}

 .cont-para{
   color: white;
   height: 100px;
   width: 1100px;
   position:relative;
   left: 150px;
 }
 #centro{
   text-align: center;
 }

.tab{

  height: 300px;
  width: 1000px;
  position: relative;
  left: 150px;
}

.tabella{

  height: 250px;
  width: 1000px;
}
tr{
  align: center;
}


.row-100::after{
  content: "";
  display: table;
  clear: both;
}
.r{
  float: left;
}

 .riga{
   height: 250px;
   width: 800px;

   position: relative;
   left: 250px;
 }

.riga-2{

  height: 250px;
  width: 300px;
}

.center, .center-1{
  text-align: center;

}

 .center{
   position: relative;
   top: 25px;
 }
.center-1{
  position: relative;
  top: 90px;
  list-style-type: none

}

.row-2::after{
   content: "";
   display: table;
   clear: both;
 }

 .colonne{
   float: left;
 }
 .col-4, .col-5{

   height: 450px;
   width:500px;
 }
 .colonna-4{

   width:450px;
   height:150px
  }
  .tlt{
    text-align: center;
  }
.colonna-4a{

  height: 170px;
  width: 450px;
}

.contenitore{
  height: 500px;
  width: 100%;

  background-color: rgb(34, 58, 64)
}

.row-3::after{
  content: "";
  display: table;
  clear: both;
}

.colon{
  float: left;
}

.lista-100, .lista-101, .lista-102, .lista-103{

  height: 350px;
  width: 300px;
  position:relative;
  top:20px;
  left:35px;
}

.color-h3{

  height: 25px;
  width: 300px;
  color: white;
}

.paragrafo-100{

  height: 325px;
  width: 300px;
 color: white;
}


}
.line-2{
  height: 100px;
  width: 250px;
  border: 1px solid black;
  margin-top: 50px;
}
